@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Merienda', cursive;
}
.navbar-nav .nav-item .nav-link{
    margin-left: 10%;
    font-size: 3vh;
    font-weight: bold;
}
.btn-success{
    padding: 5%;
    width: 15vw;
    margin-top: -1.5%;
    font-size: 2vh;
    font-weight: bold;
}

.hero-image img{
    /* margin-top: -15%; */
    height: 90vh;
    width: 90vw;
    object-fit: cover;
    position: absolute;
}
#top-heading{
    color: #1A4204;
    font-weight: bold;
    font-size: 8vh;
    font-family: 'Merienda', cursive;
}
/* Rectangle 1 */
/* 
position: absolute;
width: 1512px;
height: 990px;
left: 0px;
top: 0px;

background: url(64420.jpg);
filter: drop-shadow(0px 54px 55px rgba(0, 0, 0, 0.25)) drop-shadow(0px -12px 30px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 12px 13px rgba(0, 0, 0, 0.17)) drop-shadow(0px -3px 5px rgba(0, 0, 0, 0.09)); */




.container {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path fill='%23FF0066' d='M63.4,-18.6C72.2,6.5,62.5,39.5,40.8,55.1C19,70.6,-14.7,68.6,-38.6,51.6C-62.4,34.6,-76.4,2.6,-68.4,-21.5C-60.3,-45.6,-30.1,-61.7,-1.4,-61.3C27.3,-60.8,54.6,-43.7,63.4,-18.6Z' transform='translate(100 100)'/></svg>");
    background-repeat: no-repeat;
    background-size: cover;
  }
  