@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
.navbar-nav .nav-item .nav-link{
    margin-left: 10%;
    font-size: 3vh;
    font-weight: bold;
}
.btn-success{
    padding: 5%;
    width: 15vw;
    margin-top: -1.5%;
    font-size: 2vh;
    font-weight: bold;
}

.hero-image img{
    height: 90vh;
    width: 90vw;
    object-fit: cover;
}
/* Rectangle 1 */
/* 
position: absolute;
width: 1512px;
height: 990px;
left: 0px;
top: 0px;

background: url(64420.jpg);
filter: drop-shadow(0px 54px 55px rgba(0, 0, 0, 0.25)) drop-shadow(0px -12px 30px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 12px 13px rgba(0, 0, 0, 0.17)) drop-shadow(0px -3px 5px rgba(0, 0, 0, 0.09)); */
